@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br><br>
    Shop's name: 
    <br><br>
    Address: 242 Nguyen Trai, Thanh Xuan, Ha Noi, Viet Nam
    <br><br>
    Email: Petxink1102@gmail.com.vn
    <br><br>
    Desk phone: 0395784631
    <br><br>
    Personal email: maihanhxinks1tg1102@gmail.com
    <br><br>
    Shop owner: Mai Hanh
    <br><br>
    Personal phone number: 0353835582
</p>
<p>
    Direct for:
    <br>
    <button class="Facebook"><a href="https://www.facebook.com/linh.huong.0808">Facebook</a></button>
    <button class="Instagram"><a href="https://www.instagram.com/">Instagram</a></button>
    <button class="Zalo"><a href="https://zalo.me/0972208243">Zalo</a></button>
    <button class="Gmail"><a href="https://mail.google.com/mail/u/1/#inbox">Gmail</a></button>
</p>
